<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Parcel Management System - Parcels</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OwnerServlet</display-name>
    <servlet-name>OwnerServlet</servlet-name>
    <servlet-class>com.app.controller.OwnerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerServlet</servlet-name>
    <url-pattern>/OwnerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffServlet</display-name>
    <servlet-name>StaffServlet</servlet-name>
    <servlet-class>com.app.controller.StaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffServlet</servlet-name>
    <url-pattern>/StaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerSignupServlet</display-name>
    <servlet-name>OwnerSignupServlet</servlet-name>
    <servlet-class>com.app.controller.OwnerSignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerSignupServlet</servlet-name>
    <url-pattern>/OwnerSignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerLoginServlet</display-name>
    <servlet-name>OwnerLoginServlet</servlet-name>
    <servlet-class>com.app.controller.OwnerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerLoginServlet</servlet-name>
    <url-pattern>/OwnerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerProfileServlet</display-name>
    <servlet-name>OwnerProfileServlet</servlet-name>
    <servlet-class>com.app.controller.OwnerProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerProfileServlet</servlet-name>
    <url-pattern>/OwnerProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.app.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSignupServlet</display-name>
    <servlet-name>AdminSignupServlet</servlet-name>
    <servlet-class>com.app.controller.AdminSignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSignupServlet</servlet-name>
    <url-pattern>/AdminSignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParcelServlet</display-name>
    <servlet-name>ParcelServlet</servlet-name>
    <servlet-class>com.app.controller.ParcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParcelServlet</servlet-name>
    <url-pattern>/ParcelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleServlet</display-name>
    <servlet-name>ScheduleServlet</servlet-name>
    <servlet-class>com.app.controller.ScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleServlet</servlet-name>
    <url-pattern>/ScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffLoginServlet</display-name>
    <servlet-name>StaffLoginServlet</servlet-name>
    <servlet-class>com.app.controller.StaffLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffLoginServlet</servlet-name>
    <url-pattern>/StaffLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffSignupServlet</display-name>
    <servlet-name>StaffSignupServlet</servlet-name>
    <servlet-class>com.app.controller.StaffSignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffSignupServlet</servlet-name>
    <url-pattern>/StaffSignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerViewParcelServlet</display-name>
    <servlet-name>OwnerViewParcelServlet</servlet-name>
    <servlet-class>com.app.controller.OwnerViewParcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerViewParcelServlet</servlet-name>
    <url-pattern>/OwnerViewParcelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerTrackParcel</display-name>
    <servlet-name>OwnerTrackParcel</servlet-name>
    <servlet-class>com.app.controller.OwnerTrackParcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerTrackParcel</servlet-name>
    <url-pattern>/OwnerTrackParcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerEditProfile</display-name>
    <servlet-name>OwnerEditProfile</servlet-name>
    <servlet-class>com.app.controller.OwnerEditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerEditProfile</servlet-name>
    <url-pattern>/OwnerEditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerEditProfileServlet</display-name>
    <servlet-name>OwnerEditProfileServlet</servlet-name>
    <servlet-class>com.app.controller.OwnerEditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerEditProfileServlet</servlet-name>
    <url-pattern>/OwnerEditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerScheduleParcel</display-name>
    <servlet-name>OwnerScheduleParcel</servlet-name>
    <servlet-class>com.app.controller.OwnerScheduleParcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerScheduleParcel</servlet-name>
    <url-pattern>/OwnerScheduleParcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerScheduleTimeServlet</display-name>
    <servlet-name>OwnerScheduleTimeServlet</servlet-name>
    <servlet-class>com.app.controller.OwnerScheduleTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerScheduleTimeServlet</servlet-name>
    <url-pattern>/OwnerScheduleTimeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerEditSchedule</display-name>
    <servlet-name>OwnerEditSchedule</servlet-name>
    <servlet-class>com.app.controller.OwnerEditSchedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerEditSchedule</servlet-name>
    <url-pattern>/OwnerEditSchedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerDeleteScheduleServlet</display-name>
    <servlet-name>OwnerDeleteScheduleServlet</servlet-name>
    <servlet-class>com.app.controller.OwnerDeleteScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerDeleteScheduleServlet</servlet-name>
    <url-pattern>/OwnerDeleteScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerParcelHistory</display-name>
    <servlet-name>OwnerParcelHistory</servlet-name>
    <servlet-class>com.app.controller.OwnerParcelHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerParcelHistory</servlet-name>
    <url-pattern>/OwnerParcelHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffParcelListServlet</display-name>
    <servlet-name>StaffParcelListServlet</servlet-name>
    <servlet-class>com.app.controller.StaffParcelListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffParcelListServlet</servlet-name>
    <url-pattern>/StaffParcelListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffAddParcel</display-name>
    <servlet-name>StaffAddParcel</servlet-name>
    <servlet-class>com.app.controller.StaffAddParcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffAddParcel</servlet-name>
    <url-pattern>/StaffAddParcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffScheduleParcel</display-name>
    <servlet-name>StaffScheduleParcel</servlet-name>
    <servlet-class>com.app.controller.StaffScheduleParcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffScheduleParcel</servlet-name>
    <url-pattern>/StaffScheduleParcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffSearchParcel</display-name>
    <servlet-name>StaffSearchParcel</servlet-name>
    <servlet-class>com.app.controller.StaffSearchParcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffSearchParcel</servlet-name>
    <url-pattern>/StaffSearchParcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffEditParcelServlet</display-name>
    <servlet-name>StaffEditParcelServlet</servlet-name>
    <servlet-class>com.app.controller.StaffEditParcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffEditParcelServlet</servlet-name>
    <url-pattern>/StaffEditParcelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffDeleteParcelServlet</display-name>
    <servlet-name>StaffDeleteParcelServlet</servlet-name>
    <servlet-class>com.app.controller.StaffDeleteParcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffDeleteParcelServlet</servlet-name>
    <url-pattern>/StaffDeleteParcelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffViewProfile</display-name>
    <servlet-name>StaffViewProfile</servlet-name>
    <servlet-class>com.app.controller.StaffViewProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffViewProfile</servlet-name>
    <url-pattern>/StaffViewProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffEditProfileServlet</display-name>
    <servlet-name>StaffEditProfileServlet</servlet-name>
    <servlet-class>com.app.controller.StaffEditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffEditProfileServlet</servlet-name>
    <url-pattern>/StaffEditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminViewStaff</display-name>
    <servlet-name>AdminViewStaff</servlet-name>
    <servlet-class>com.app.controller.AdminViewStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminViewStaff</servlet-name>
    <url-pattern>/AdminViewStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditStaffServlet</display-name>
    <servlet-name>AdminEditStaffServlet</servlet-name>
    <servlet-class>com.app.controller.AdminEditStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditStaffServlet</servlet-name>
    <url-pattern>/AdminEditStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteStaffServlet</display-name>
    <servlet-name>AdminDeleteStaffServlet</servlet-name>
    <servlet-class>com.app.controller.AdminDeleteStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteStaffServlet</servlet-name>
    <url-pattern>/AdminDeleteStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddStaffServlet</display-name>
    <servlet-name>AdminAddStaffServlet</servlet-name>
    <servlet-class>com.app.controller.AdminAddStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddStaffServlet</servlet-name>
    <url-pattern>/AdminAddStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminParcelSummary</display-name>
    <servlet-name>AdminParcelSummary</servlet-name>
    <servlet-class>com.app.controller.AdminParcelSummary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminParcelSummary</servlet-name>
    <url-pattern>/AdminParcelSummary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchAvailableSlotsServlet</display-name>
    <servlet-name>FetchAvailableSlotsServlet</servlet-name>
    <servlet-class>com.app.controller.FetchAvailableSlotsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchAvailableSlotsServlet</servlet-name>
    <url-pattern>/FetchAvailableSlotsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fetchAvailableSlotsServlet</display-name>
    <servlet-name>fetchAvailableSlotsServlet</servlet-name>
    <servlet-class>com.app.controller.fetchAvailableSlotsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchAvailableSlotsServlet</servlet-name>
    <url-pattern>/fetchAvailableSlotsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerGetAvailableSlot</display-name>
    <servlet-name>OwnerGetAvailableSlot</servlet-name>
    <servlet-class>com.app.controller.OwnerGetAvailableSlot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerGetAvailableSlot</servlet-name>
    <url-pattern>/OwnerGetAvailableSlot</url-pattern>
  </servlet-mapping>
</web-app>